{% extends 'base.html' %}

{% load static %}

{% block title %}Объявления{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/announcement.css' %}">
{% endblock %}

{% block content %}
    {% for announcement in announcements %}
        {% if announcement.publicize %}
            <div class="announcement-item">
                    <h3><a href="{% url 'announcement_detail' pk=announcement.pk %}">{{ announcement.title }}</a>
                        <span class="date">{{ announcement.date }}</span></h3>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
