{% extends 'base.html' %}

{% load static %}

{% block title %}Объявления{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/announcement.css' %}">
{% endblock %}

{% block content %}
    {% for announcement in announcements %}
    <div class="announcement-item">
        {% if announcement.publicize %}
            <h3><a href="{% url 'announcement_detail' pk=announcement.pk %}">{{ announcement.title }}</a>
                <span class="date">{{ announcement.date }}</span></h3>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}
