{% extends 'base.html' %}

{% load static %}

{% block title %}Обратная связь{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Отправить</button>
  </form>
{% endblock %}
