{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Обратная связь' %}{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
<div class="my-form">
  <form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.contact_number }}
    {{ form.email }}
    {{ form.message }}

    {# Добавляем атрибут multiple в поле для загрузки файлов #}
    <input type="file" name="attachment" multiple>

    <button type="submit">{% trans 'Отправить' %}</button>
  </form>
</div>
{% endblock %}
