body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 110px;
}
.content {
  margin-bottom: 50px;
}

h3 {
  margin-top: 20px;
}

p {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #007BFF;
  display: inline-block;
  font-size: 1.2rem;
}

.date {
  margin-left: 10px;
  color: #91969D;
  font-size: 0.8rem;
}

.news-item {
  border-bottom: 1px solid lightgray; /* Линия после каждой новости */
  padding-bottom: 1px; /* Дополнительный отступ после линии */
}


@media (max-width: 768px) {
  .content {
    margin: 0 20px; /* Уменьшаем отступы для мобильных устройств */
  }
}
