            <div class="dropdown" style="--i:4;">
                <div class="dropdown-hover">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="search-box"  style="--i:5;">
                <form action="{% url 'search_view' %}" method="get">
                    {% csrf_token %}
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                            <input type="text" name="q" placeholder="Найти...">
                    </div>
                </form>
            </div>