<!-- components/footer.html -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li><a href="/">Главная страница</a></li>
          <li><a href="/leadership/">Руководство мэрии</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a href="/passport/">Паспорт города</a></li>
          <li><a href="/development/">Социальное и экономическое развитие</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a href="/news/">Новости</a></li>
          <li><a href="/announcements/">Объявления</a></li>
          <li><a href="/media/">Медиагалерея</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a href="/jobs/">Вакансии</a></li>
          <li><a href="/contacts/">Контакты</a></li>
          <li><a href="/map/">Карта города</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Добавленная линия внизу -->
  <div class="footer-line"></div>

<!-- Иконки социальных сетей -->
<div class="social-icons">
  <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
  <a href="#" target="_blank"><i class="fa fa-whatsapp"></i></a>
</div>

<!-- Новая линия после социальных иконок -->
<div class="social-line"></div>
    <div class="footer-text">
    <div class="footer-text-left">
      <p>Сайт разработан Оморов.Э и Исламов.И. Поддержанием сайта занимается МП "Мой город Токмок"</p>
    </div>
    <div class="footer-text-right">
      <p>03138 3-26-00, г. Токмок, улица Ленина, 385.</p>
    </div>
  </div>
</footer>
