{% load static %}
{% load i18n %}
<title>{% block title %}Navbar{% endblock %}</title>
{% block style %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

<body>
    <header class="header">
        <a href="#" class="logo"><img class="logo-img" src="../../media/uploads/logo/logo.png"
                                      alt="Логотип Токмока">
            <span class="logo-text">Официальный сайт мэрии г. Токмок</span></a>

        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu' id="menu-icon"></i>
            <i class='bx bx-x' id="close-icon"></i>
        </label>

        <nav class="navbar">

    <a href="/news/" style="--i:0;">{% trans 'Новости'%}</a>
    <a href="/feedback/" style="--i:1;">{% trans 'Обратная связь'%}</a>
    <a href="#" style="--i:2;">{% trans 'Вакансии'%}</a>
    <div class="dropdown" style="--i:3;">
        <a href="#">{% trans 'Информация о городе'%}</a>
        <div class="dropdown-content">
            <a href="/history/">{% trans 'История города'%}</a>
            <a href="/town_hall_managements/">{% trans 'Руководство мэрии'%}</a>
            <a href="/contact/">{% trans 'Контакты'%}</a>
        </div>
    </div>
    <div class="dropdown" style="--i:4;">
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
                <select name="language" onchange="this.form.submit()">
                    {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ language.name_local }}
                        </option>
                    {% endfor %}
                </select>
        </form>
    </div>
</nav>
    </header>
</body>
{% block script %}
    <script src="{% static 'js/header.js' %}"></script>
{% endblock %}